@charset "UTF-8";

body {
    background-color: #6b6b6b;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #046d00;
}

#principal {
    text-align: center;
}

h2 {
    color: blue;
}

p {
    color: white;
}

.basico {
    color: #2bca25;
}

.intermediario {
    color: #c7ca25;
}

.avancado {
    color: #ca2525;
}

.important {
    font-weight: bolder;
    color: #ca2525;
    text-decoration: underline;
}