@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#iburger {
        display: none;
    }

    menu {
        display: block;
        text-align: center;
    }

    menu > ul > li {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    menu a {
        border-radius: 10px;
        padding: 15px 20px 15px 20px;
        border: none;
    }

    menu a:hover {
        padding: 15px 30px 15px 30px;
        box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.39);
        transform: translateY(-5px);
    }

    main {
        max-width: 750px;
    }
}